<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

	<link rel="stylesheet" href="../../Content/bootstrap.min.css">
    <link href="~/Content/css/styles.css" rel="stylesheet" />
    <script src="../../Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
</head>
<body>
	@RenderBody()
    <script src="../../bootstrap.min.js"></script> 
</body>
</html>
